@model AudioCity.Models.GigViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@Html.AntiForgeryToken()
<div class="create-new-gig-container">
    <div class="row" style="margin:0;">
        <div class="col-12" id="create-new-gig-form-col">
            <div class="register-form" id="form-section">
                <form asp-action="EditGigDetailForm" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="Id"  value="@Model.Id" />
                    <h4 style="text-align:center;font-weight:bold;">Edit Gig</h4>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Title"></label>
                        <input asp-for="Title" class="form-control" placeholder="Gig Title" value="@Model.Title" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <textarea asp-for="Description" class="form-control" placeholder="Gig Description" style="height:200px;" value="@Model.Description"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EstimatedDeliveryDays"></label>
                        <input min="1" step="1" asp-for="EstimatedDeliveryDays" class="form-control" placeholder="Estimated Delivery Days e.g. 5" oninput="this.value = Math.abs(this.value)" value="@Model.EstimatedDeliveryDays" />
                        <span asp-validation-for="EstimatedDeliveryDays" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price"></label>
                        <input asp-for="Price" class="form-control" placeholder="Price (RM)" value="@Model.Price" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Thumbnail"></label>
                        <input type="file" accept="image/*" asp-for="Thumbnail" name="Thumbnail" class="form-control" />
                        <span asp-validation-for="Thumbnail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Portfolio"></label>
                        <input type="file" accept="video/*" asp-for="Portfolio" name="Portfolio" class="form-control" />
                        <span asp-validation-for="Portfolio" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Category"></label>
                        <select asp-for="Category" class="form-control" id="category-select">
                            <option value="Classical">Classical</option>
                            <option value="EDM">EDM</option>
                            <option value="Hip-hop">Hip-hop</option>
                            <option value="Jazz">Jazz</option>
                            <option value="Metal">Metal</option>
                            <option value="Pop">Pop</option>
                            <option value="Rap">Rap</option>
                            <option value="Techno">Techno</option>
                            <option value="Vfx">Vfx</option>
                        </select>
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaxOrderCount"></label>
                        <input min="1" step="1" asp-for="MaxOrderCount" class="form-control" placeholder="Maximum order from customers e.g. 12" oninput="this.value = Math.abs(this.value)" value="@Model.MaxOrderCount" />
                        <span asp-validation-for="MaxOrderCount" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
                <br />
                <a asp-controller="FreelanceList" asp-action="GigDetail" asp-route-GigId="@Model.Id" style="text-decoration:none;"><button class="btn btn-block btn-danger">Cancel</button></a>
            </div>
        </div>
    </div>
</div>

<script>

    var categorySelect = document.getElementById('category-select');

    for (var i = 0; i < categorySelect.length; i++) {

        const selectedCategory = categorySelect[i];

        if (selectedCategory == '@Model.Category') {
            categorySelect.selectedIndex = i;
        }

    }

</script>