@model AudioCity.Models.GigDetailViewModel;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="row" style="height:1500px;padding:70px;margin:0;padding-right:45px;">
    <div class="col-lg-8 gig-detail-left-panel">
        <h1 style="font-weight:bold;">
            @Model.Gig.Title
        </h1>
        <img src="~/static/profile-picture-example.jfif" class="gig-detail-profile-picture-small" />
        <div class="gig-detail-seller-name">
            @Model.Gig.ArtistName
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span style="color:orange;">5.0</span>
        </div>
        <div style="color:rgba(0,0,0,.5)">Published Since @Model.Gig.PublishedOn</div>
        <video style="width:100%;height:400px;margin-top:25px;margin-bottom:50px;" controls>
            <source src="@Model.Portfolio.Uri">
            Your browser does not support the video tag.
        </video>
        <h3 style="font-weight:bold;">About This Gig</h3>
        <div class="gig-detail-description">@Model.Gig.Description</div>
        <hr />
        <div style="font-size:20px;color:dimgray;">Category</div>
        <div>@Model.Gig.Category</div>
        <div style="font-size:20px;color:dimgray;margin-top:15px;">Contact Me</div>
        <div>@Model.User.ContactNo</div>

       @* <form action="@Url.Action("CreateGig", "CreateNewGig", Model.Gig)" method="post">
            <button type="submit" class="btn btn-primary" style="margin-top:35px;">Create</button>
        </form>
        <form action="@Url.Action("CancelCreateGig", "CreateNewGig", Model.Gig)" method="post">
            <button type="submit" class="btn btn-block btn-danger" style="margin-top:15px;">Cancel</button>
        </form>*@
    </div>
    <div class="col-lg-4 gig-detail-right-panel">
        <div class="gig-detail-offer">
            <i class="fa fa-clock-o fa-2x"></i>
            <span style="position:relative;top:-5px;padding-left:8px">@Model.Gig.EstimatedDeliveryDays Days Delivery</span>
            <button class="btn btn-primary">Continue (RM @Model.Gig.Price)</button>
        </div>
    </div>
</div>