@model List<AudioCity.Models.OrderEntity>
<div>
    <table class="admin-table" id="ongoingtable">
        <thead>
            <tr class="admin-table-head">
                <th class="admin-table">Order ID</th>
                <th class="admin-table">Gig ID</th>
                <th class="admin-table">Seller</th>
                <th class="admin-table">Buyer</th>
                <th class="admin-table">Due Date</th>
                <th class="admin-table">Price</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() != 0)
            {
                @foreach (var item in Model)
                {
                    <tr class="admin-table">
                        <td class="admin-table">@item.RowKey</td>
                        <td class="admin-table">@item.PartitionKey</td>
                        <td class="admin-table">@item.SellerName</td>
                        <td class="admin-table">@item.CustomerName</td>
                        <td class="admin-table">@item.OrderDueDate</td>
                        <td class="admin-table">@item.OrderPayment</td>
                    </tr>
                }
            }
            else
            {
                <tr class="admin-table">
                    <td colspan="6" class="admin-table">No Record Found</td>
                </tr>
            }

        </tbody>
    </table>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script charset="utf-8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">

<script>
    $(document).ready(function () {
        $('#ongoingtable').DataTable();
    });
</script>