@model List<AudioCity.Models.OrderEntity>
<div style="padding-right: 100px">
    <h6> Only orders which its status is <b><i>COMPLETED</i></b> will be incuded in the calculation of revenue.</h6>
    <table class="admin-table" id="seller-revenue-table">
        <thead>
            <tr class="admin-table-head">
                <th class="admin-table">Order ID</th>
                <th class="admin-table">Gig ID</th>
                <th class="admin-table">Completed Date</th>
                <th class="admin-table">Price</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() != 0)
            {
            @foreach (var item in Model)
                {
            <tr class="admin-table">
                <td class="admin-table">@item.RowKey</td>
                <td class="admin-table">@item.PartitionKey</td>
                <td class="admin-table">@item.OrderCompleteDate</td>
                <td class="admin-table">@item.OrderPayment</td>
            </tr>
                }
            }
            else
            {
            <tr class="admin-table">
                <td colspan="4" class="admin-table">No Record Found</td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr class="admin-table">
                <td colspan="3" class="admin-table" style="text-align:right">Total Revenue :</td>
                <td class="admin-table" id="total"></td>
            </tr>
        </tfoot>
    </table>
</div>
<br />


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function () {
        $.noConflict();
        var table = $('#seller-revenue-table').DataTable();
    });
</script>

<script>
    var total = 0;
</script>
@foreach (var item in Model)
{
<script>total = total + @item.OrderPayment;</script>
}
<script>
    document.getElementById("total").innerHTML = total;
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script charset="utf-8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">

<script>
    $(document).ready(function () {
        $.noConflict();
        var table = $('#revenue-table').DataTable();
    });
</script>