@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row seller-dashboard-container">
    <div class="col-12 seller-dashboard-content-panel">
        <nav class="navbar navbar-expand-lg navbar-light seller-dashboard-navbar">
            <div id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item partial-nav">
                        <a class="nav-link" asp-controller="SellerDashboard" asp-action="Index" asp-route-Id="@ViewBag.UserId" asp-route-PartialPage="_ActiveGigsPartial">ACTIVE GIGS</a>
                    </li>
                    <li class="nav-item partial-nav">
                        @if (ViewBag.PendingOrdersCount > 0)
                        {
                            <a class="nav-link" style="color:#FE2C54;" asp-controller="SellerDashboard" asp-action="Index" asp-route-Id="@ViewBag.UserId" asp-route-PartialPage="_NewOrdersPartial">NEW ORDERS (@ViewBag.PendingOrdersCount)</a>
                        }
                        else
                        {
                            <a class="nav-link" asp-controller="SellerDashboard" asp-action="Index" asp-route-Id="@ViewBag.UserId" asp-route-PartialPage="_NewOrdersPartial">NEW ORDERS</a>
                        }
                    </li>
                    <li class="nav-item partial-nav">
                        <a class="nav-link" asp-controller="SellerDashboard" asp-action="Index" asp-route-Id="@ViewBag.UserId" asp-route-PartialPage="_OnGoingOrdersPartial">ONGOING ORDERS</a>
                    </li>
                    <li class="nav-item partial-nav">
                        <a class="nav-link" asp-controller="SellerDashboard" asp-action="Index" asp-route-Id="@ViewBag.UserId" asp-route-PartialPage="_OrderHistoryPartial">ORDER HISTORY</a>
                    </li>
                    <li class="nav-item partial-nav">
                        <a class="nav-link" asp-controller="SellerDashboard" asp-action="Index" asp-route-Id="@ViewBag.UserId" asp-route-PartialPage="_RevenuesPartial">REVENUES</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div style="margin-left: 50px; margin-top: 35px;">
        <partial name="@ViewBag.PartialPage" />
        </div>
    </div>
</div>

<script>
    var navItemList = document.getElementsByClassName("partial-nav");
    var navTotalItems = navItemList.length;

    if ('@ViewBag.PartialPage' === "_ActiveGigsPartial") {
        for (i = 0; i < navItemList.length; i++) {
            navItemList[i].classList.remove("active");
        }
        navItemList[0].classList.add("active");
    }
    else if ('@ViewBag.PartialPage' === "_NewOrdersPartial") {
        for (i = 0; i < navItemList.length; i++) {
            navItemList[i].classList.remove("active");
        }
        navItemList[1].classList.add("active");
    }
    else if ('@ViewBag.PartialPage' === "_OnGoingOrdersPartial") {
        for (i = 0; i < navItemList.length; i++) {
            navItemList[i].classList.remove("active");
        }
        navItemList[2].classList.add("active");
    }
    else if ('@ViewBag.PartialPage' === "_OrderHistoryPartial") {
        for (i = 0; i < navItemList.length; i++) {
            navItemList[i].classList.remove("active");
        }
        navItemList[3].classList.add("active");
    }
    else if ('@ViewBag.PartialPage' === "_RevenuesPartial") {
        for (i = 0; i < navItemList.length; i++) {
            navItemList[i].classList.remove("active");
        }
        navItemList[4].classList.add("active");
    }
</script>
    