@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row seller-dashboard-container">
    <div class="col-12 seller-dashboard-content-panel">
        <nav class="navbar navbar-expand-lg navbar-light seller-dashboard-navbar">
            <div id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item partial-nav">
                        <a class="nav-link" asp-controller="CustomerDashboard" asp-action="Index" asp-route-Id="@ViewBag.UserId" asp-route-PartialPage="_PendingOrdersPartial">PENDING ORDERS</a>
                    </li>
                    <li class="nav-item partial-nav">
                        <a class="nav-link" asp-controller="CustomerDashboard" asp-action="Index" asp-route-Id="@ViewBag.UserId" asp-route-PartialPage="_ActiveOrdersPartial">ACTIVE ORDERS</a>
                    </li>
                    <li class="nav-item partial-nav">
                        <a class="nav-link" asp-controller="CustomerDashboard" asp-action="Index" asp-route-Id="@ViewBag.UserId" asp-route-PartialPage="_RejectedOrdersPartial">REJECTED ORDERS</a>
                    </li>
                    <li class="nav-item partial-nav">
                        <a class="nav-link" asp-controller="CustomerDashboard" asp-action="Index" asp-route-Id="@ViewBag.UserId" asp-route-PartialPage="_CompletedOrdersPartial">COMPLETED ORDERS</a>
                    </li>
                    <li class="nav-item partial-nav">
                        <a class="nav-link" asp-controller="CustomerDashboard" asp-action="Index" asp-route-Id="@ViewBag.UserId" asp-route-PartialPage="_OrderHistoryPartial">ORDER HISTORY</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div style="margin-left:50px;margin-top:50px;">
        <partial name="@ViewBag.PartialPage" />
        </div>
    </div>
</div>

<script>
    var navItemList = document.getElementsByClassName("partial-nav");
    var navTotalItems = navItemList.length;

    if ('@ViewBag.PartialPage' === "_PendingOrdersPartial") {
        for (i = 0; i < navItemList.length; i++) {
            navItemList[i].classList.remove("active");
        }
        navItemList[0].classList.add("active");
    }
    else if ('@ViewBag.PartialPage' === "_ActiveOrdersPartial") {
        for (i = 0; i < navItemList.length; i++) {
            navItemList[i].classList.remove("active");
        }
        navItemList[1].classList.add("active");
    }
    else if ('@ViewBag.PartialPage' === "_RejectedOrdersPartial") {
        for (i = 0; i < navItemList.length; i++) {
            navItemList[i].classList.remove("active");
        }
        navItemList[2].classList.add("active");
    }
    else if ('@ViewBag.PartialPage' === "_CompletedOrdersPartial") {
        for (i = 0; i < navItemList.length; i++) {
            navItemList[i].classList.remove("active");
        }
        navItemList[3].classList.add("active");
    }
    else if ('@ViewBag.PartialPage' === "_OrderHistoryPartial") {
        for (i = 0; i < navItemList.length; i++) {
            navItemList[i].classList.remove("active");
        }
        navItemList[4].classList.add("active");
    }
</script>